.order-items {
  width: 100%;
}

.order-header {
  font-size: 20px;
  color: grey;
}

.date-display {
  float: right;
}

.product-image {
  width: 125px;
  height: 125px;
}

@media (max-width: 768px) {
  .order-header {
    font-size: 16px;
    text-align: center;
  }

  .date-display {
    float: none;
    display: block;
    text-align: center;
  }

  .product-image {
    width: 100px;
    height: 100px;
  }

  .order-items table {
    width: 100%;
  }

  .order-items .MuiTableCell-root {
    padding: 10px;
    font-size: 14px;
  }
}
